.NavBar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
}

.brand-name {
    display:flex;
    font-size: 0.5em;
    padding-left: 1em;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: inherit;
    padding: 0.5em;
    font-size: 0.5em;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.5em;
}

.sign-up-button {
    border-radius: 1em;
    border: 0;
    padding: 0.5em;
    width: 10vw;
    font-size: 1em;
    margin: 1em;
    font-weight: 900;
}